@{
  ViewData["Title"] = "Meu amigo secreto";
}
@section Styles {
  <link rel="stylesheet" href="/css/home/dupla.css" asp-append-version="true">
}
<section class="meu-amigo">
  <div class="section-header">
    <h2 class="section-title">Meu amigo secreto</h2>
    <p>Parabéns! Você foi escolhido para a troca de presentes. Que este gesto traga alegria e sorrisos. Que o presente
      escolhido seja uma expressão de carinho e amizade. Feliz amigo secreto!</p>
  </div>
  <div class="cards">

    <div class="card">
      <div class="foto">
        <img src="https://github.com/jvieira562.png" alt="">
      </div>
      <div class="summary">
        <h3 class="text-name">José Victor Vieira</h3>
        <p class="text-email">contato.josevictorvieira@gmail.com</p>
        <p class="presente-sugerido">Barra de chocolate Nestlé</p>
      </div>
      <div id="amigoSecreto">
        <img src="/img/presentesvg.svg" alt="">
      </div>
    </div>

    <br>
    
    <div class="card">
      <div class="foto">
        <img src="https://cdn.pixabay.com/photo/2016/10/18/18/19/question-mark-1750942_1280.png" alt="">
      </div>
      <div class="summary">
        <h3 class="text-name">Não atribuido</h3>
        <p class="text-email">A formação das duplas será na data abaixo</p>
        <p class="presente-sugerido">@DateTime.Now.Date</p>
      </div>
      <div id="amigoSecreto">
        <img src="/img/presentesvg.svg" alt="">
      </div>
    </div>

  </div>
</section>