@page
@model ChangePasswordModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Alterar Senha";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@section Styles {
    <link rel="stylesheet" href="/css/base.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/manageNav.css" asp-append-version="true">
}
<style>
    main {
        display: flex;
        flex-direction: column;

    }
    #change-password-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
<partial name="_StatusMessage" for="StatusMessage" />
<partial name="_ManageNav"/>

<form id="change-password-form" method="post">
    <h3>@ViewData["Title"]</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <label asp-for="Input.OldPassword" class="form-label">Senha atual</label>
        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Informe sua senha atual." />
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Input.NewPassword" class="form-label">Nova senha</label>
        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Informe sua nova senha." />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar nova senha</label>
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirme sua nova senha.."/>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn-primary">Atualizar senha</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
