@page
@model EmailModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "E-mail";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
@section Styles {
    <link rel="stylesheet" href="/css/base.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/manageNav.css" asp-append-version="true">
}
<style>
    main {
        display: flex;
        flex-direction: column;
    }
    
    .input-group-append {
        display: flex;
        padding: 0 0 0.3rem 0;
        align-items: center;
        gap: 0.5rem;
    }
    
    #email-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
<partial name="_ManageNav"/>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="email-form" method="post">
    <h3>@ViewData["Title"]</h3>
    @if (Model.IsEmailConfirmed)
    {
        <div class="form-floating mb-3 input-group">
            <label asp-for="Email" class="form-label">Email</label>
            <div class="input-group-append">
                <input asp-for="Email" class="" placeholder="Por favor informe seu e-mail." disabled />
                <i class="fa-solid fa-circle-check" style="color: var(--action-color);"></i>
            </div>
        </div>
    }

    else
    {
        <div class="form-floating mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Por favor informe seu e-mail." disabled />
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Enviar verificação de email</button>
        </div>
    }
    <div class="form-floating mb-3">
        <label asp-for="Input.NewEmail" class="form-label">Novo Email</label>
        <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Por favor informe seu e-mail." />
        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Alterar email</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
