@page
@model IndexModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@section Styles {
    <link rel="stylesheet" href="/css/base.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/manageNav.css" asp-append-version="true">
}
<partial name="_ManageNav" for="StatusMessage" />
<partial name="_StatusMessage" for="StatusMessage" />
<style>
    main {
        display: flex;
        flex-direction: column;

    }
    #profile-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
<form id="profile-form" method="post">
    <h3>@ViewData["Title"]</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="">
        <label asp-for="Username" class="form-label">Email</label>
        <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
    </div>

    <div class="form-floating mb-3">
        <label asp-for="Input.PhoneNumber" class="form-label">Telefone celular</label>
        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="+55 (11) 91111-1111"/>
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <button id="update-profile-button" type="submit" class="btn-primary">Salvar</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
