<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
        <add name="azure-database" 
        connectionString="jvieiradev.database.windows.net,1433;Initial Catalog=AmigoSecreto;Persist Security Info=False;User ID=sysadmin;Password=1q2w!Q@W;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=true;" 
        providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
